In [36]:
# make an sql database, practice some operations

# test data: (not using this currently)

article1 = {'author':'Jeff', 'title':'the psychedlic experience of practical knowledge','date':'today'}
article2 = {'author':'Jason', 'title':'stability as an act of radical direct action','date':'tomorrow'}
article3 = {'author':'Jared', 'title':'the wind at your face: bicyle riding as a metaphor for lived experience','date':'yesterday'}

In [37]:
import sqlite3
db = sqlite3.connect('data/test2.db')

print('database connected')

database connected

In [38]:
cursor = db.cursor()
cursor.execute('''CREATE TABLE fakearticles(id INTEGER PRIMARYKEY,
                    title TEXT, author TEXT, date TEXT)
                    ''')

db.commit()
db.close()

print('database closed')

database closed

In [32]:
# how to drop / delete the db:


#db = sqlite3.connect('data/test.db')
#cursor = db.cursor()
#cursor.execute('''DROP TABLE books''')
#db.commit()

#print 'database dropped'

In [42]:
# insert entry using tuple

db = sqlite3.connect('data/test2.db')
cursor = db.cursor()

title = article1['title']
author = article1['author']
date = article1['date']

cursor.execute('''INSERT INTO fakearticles(title, author, date)
                VALUES(?,?,?)''', (title, author, date))

db.commit()

print('entry added using tuple format')

# note: you can add a list of tuples by using cursor.executemany

entry added using tuple format

In [44]:
# insert entry using dictionary

cursor.execute('''INSERT INTO fakearticles(title, author, date)
                VALUES(:title, :author, :date)''',
              article2)

db.commit()

print('entry added using dictionary format')

entry added using dictionary format

In [45]:
db.close()